

  /*******************************************************SKILLS BAR*******************************************/
  .personal-skills{
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--hero-color);
    padding: 30px 30px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    font-family: var(--h1-font);
    color: black;
    font-weight: 500;
}

h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar1{
  position: relative;
  border: 2px solid red;
  border-radius: 20px;

}
.bar2{
  border-radius: 20px;
  position: relative;
  border: 2px solid blue;

}
.bar3{
  border-radius: 20px;
  position: relative;
  border: 2px solid  #d4af37;

}
.bar4{
  border-radius: 20px;
  position: relative;
  border: 2px solid green;
}
.bar1 div, .bar2 div, .bar3 div, .bar4 div{
  position: relative;
  width: 0;
  height: 15px;
  border-radius: 10px;

}
.bar1 div{
  background-color: red;
}
.bar2 div{
  background-color: blue;
}
.bar3 div{
  background-color: #d4af37;
}
.bar4 div{
  background-color: green;
}

.skills:not(:last-child){
  margin-bottom: 30px;
}

#html-bar{
  animation: html-fill 4s forwards;
}
@keyframes html-fill{
  100%{
      width: 90%;
  }
}

#css-bar{
  animation: css-fill 4s forwards;
}

@keyframes css-fill{
  100%{
      width: 75%;
  }
}

#js-bar{
  animation: js-fill 4s forwards;
}
@keyframes js-fill {
  100%{
      width: 72%;
  }
}

#PHP-bar{
  animation: PHP-fill 4s forwards;
}
@keyframes PHP-fill{
  100%{
      width: 58%;
  }
} 

