*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
}
img{
    max-width: 100%;
    height: auto;
}

.hero-title{
    background-image: url('/image/to.jpg');
    max-width: 100%;
    height: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative ;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.hero-title h1{
    padding-top: 10%;
    font-size: 4vw;
    font-family: var(--h3-font);
    animation: hero 5s linear 2s 1;
}
@keyframes hero {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

.about-me{
    margin-top: 10%;
    margin-bottom: 10%;
}
.about-me section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me section img{
    /* width: 50%; */
    /* height: 100vh; */
    max-width: 100%;
    height: 70%;
    border-radius: 50%;
}
.about-me aside{
    border-top: 1px solid var(--header-footer-color);
    border-bottom: 1px solid var(--header-footer-color);
    
}
.about-me aside h2{
    padding: 20% 5% 0 5%;
    font-family: var(--h1-font);
    font-size: 3vw;
}
.about-me aside p{
    padding: 5% 5% 0 10%;
    margin-bottom: 10%;
    font-size:1.5vw;
}
.about-me aside a{
    padding: 2% 2%;
    margin-left:10%;
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--button-color) ;
    font-size: 1.2vw;
}
.about-me aside a span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.about-me aside a:hover{
    font-size: 2vw;
}

.about-me aside a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.about-me aside a:hover span {
    padding-right: 25px;
    color: black;
  }
  
.about-me aside a:hover span:after {
    opacity: 1;
    right: 0;
  }


/* **************************************About Me *****************************************/

.introduction-article{
    background-color: var(--button-color);
    margin: 30vh 2vw 30vh 2vw;
    border-radius: 10px;
}
.head-image{
    margin: 10%;
    width: 100%;
}
.head-text{
    /* max-width: 100%;
    height: 70vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative ;
    margin: 10vw 10vw 10vw 5vw;
    /* border-left: 1px solid black; */
    padding-left: 10vw;
    /* padding: 5vw; */
    /* line-height: 5vh; */
}
/* .my-pic{
    box-shadow: 2px 2px 2px 2px  grey;
} */
.head-text h1{
    margin-bottom: 2vw;
    font-size: 2vw;
}
.head-text p:nth-child(2){
    margin-bottom: 1vw;
    font-size: 1vw;
}
.head-text p:nth-child(3), .head-text p:nth-child(4), .head-text p:nth-child(5), .head-text p:nth-child(6){
    text-align: justify;
    margin-top: 1vw;
    font-size: 1vw;
}