/* .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);
}
.message-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2{
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-size: 3vw;
    font-family: var(--h1-font);
}

#name-input, #email-input, #message-input{
    font-family: var(--h1-font);
    font-size: 1.5vw;
    width: 50vw ;
    padding: 0.5vw 0 0.5vw  1vw;
}
#message-input{
    margin-bottom: 2.5vh;
}  */


/*****************************************************BUTTON*************************************************/
/* #submit-button{
    padding: 2vh 4vw;
    border-radius: 10px;
    margin-bottom: 10%;
    background-color: var(--button-color);
    color: black;
    border: 1px solid var(--button-color);
   font-size: 3vw;
   font-family: var(--h1-font);
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .message-form input:nth-child(7) {
      width: 15vw;
      height: 13vh;
      cursor: pointer;
      background: var(--button-color);
      border: none;
      border-radius: 10px;
      box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px var(--button-color), inset 0px -5px 10px #57aba7, inset 0px 5px 10px var(--button-color);
      font-family: 'Damion', cursive;
      color: white;
      font-size: 2vw;
      transition: 500ms;
  }
  
  .message-form input:nth-child(7):hover {
        border: 2px solid var(--button-color);
        animation: hueRotation 2s linear infinite;
  }
  
  @keyframes hueRotation {
      to {filter: hue-rotate(360deg);}
  }
  
  .message-form input:nth-child(7):focus {
      outline: none;
  } */
/**********************************************************************************************************/

/* #name-error, #email-error, #message-error{
    font-family: var(--base-font);
    font-size: 1vw;
    color: red;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: var(--h1-font);
}

#name-input[type="text"]::-webkit-input-placeholder, #email-input[type="text"]::-webkit-input-placeholder{
    color: var(--reputation-color);
    opacity: 0.4;
}
.message-form textarea::-webkit-input-placeholder{
    color: var(--reputation-color);
    opacity: 0.4;

}  */




/* .img-contact-me{
    width: 25rem;
    overflow: auto;
} */



/**********************************************My setting****************************************************/


img{
    max-width: 100%;
    height: auto;
}
.img-contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-contact-me img{
  max-width: 100%;
  margin-right: 2%;

}
/**************************************************************************************************************/

.contact-me{
    margin-bottom: 10%;
}
.contact-me-container{
    box-shadow: rgb(17 17 26 / 5%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
    border-radius: 4vw;
    margin: 5vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 45vw; */
    padding: 4vw;
    font-size: 1.5vw;
    max-width: 100%;
    }

.contact-me-container h2{
    font-size: 3vw;
    font-family: var(--h2-font);
    margin-left: 3vw;
    /* margin-bottom: 5%; */
    margin-top: 5%;
    color: #4c49b9;
    text-align: left;
    position: relative;
    width: 100%;
    /* margin-right: 1rem; */
}
.form input, .text-area{
    background-color:#f4f6fc ;
    border-radius: 1vw;
    padding-left: 1vw;
    font-family: var(--h2-font);
    margin: 1vw;
    border: none;
    outline: none;
    font-size: 1.5vw;
    width: 100%;
}
.form input{
min-height: 10%;
flex-basis: 3vw;
}


.text-area{
    height: 20vw;
    /* outline: none;
    border: none;
    resize: none; */
    padding-top: 1vw;
}
input::placeholder, textarea::placeholder{
    color: #827ffe;
}
    

#submit-button{
padding: 2vh 2vw;
font-family: var(--h2-font);
background-color: #827ffe;
color: white;
border-radius: 2vw;
box-shadow: #817ffe -4px 9px 25px -6px;
font-size: 1.5vw;
}
#submit-button:hover{
    transform: scale(1.5);
    transition: transform 2s;
    cursor: pointer;
}

@media screen and (max-width:600px){
    #submit-button{
        padding: 1vh 1vw;
    }
}
#name-error, #email-error, #message-error{
    font-family: var(--base-font);
    font-size: 1vw;
    color: red;
    margin-top: 2%;
    font-family: var(--h1-font);
} 
#name-error, #email-error{
    margin-bottom: 2%;
}
#message-error{
    margin-bottom: 5%;
}