:root{
    --header-footer-color: #ced4da;
    --hero-color: #cbc0d3;
    --button-color:  #caf0f8;
    --h1-font:'Patrick Hand', cursive;
    --h2-font:'Voltaire', sans-serif;
    --h3-font: 'Caveat', cursive;
}